<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Motique</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
=======
  <title>FirstApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
>>>>>>> 95dc8c639a8344b695ac56b4b1871601f0a1c2df
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
